cscope.out
*.o
*.d
*.dwo
*.ko
*.mod.c
src/tools/wg
Module.symvers
*.cmd
.tmp_versions
*.swp
modules.order
modules.builtin
maint/
qemu-build/
src/tests/qemu/distfiles/
*.id0
*.id1
*.id2
*.nam
*.til
*.pro.user
.cache.mk
